.auth-form__container {
	height: 67vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-form {
	width: 20rem;
	max-width: 90%;
	box-shadow: 3px 2px 3px #a27edb;
	border: 1px solid #eee;
	padding: 1.5rem;
}

.auth-form h1 {
	margin: 1rem 0;
	color: #5101d1;
	font-size: 2rem;
}
