.navigation-item {
	margin: 0.625rem 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.navigation-item a {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-decoration: none;
	color: white;
	padding: 1rem;
	border: 1px solid white;
	font: inherit;
	background: transparent;
	cursor: pointer;
	border-radius: 0.3125rem;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
	background: #ffffff;
	color: #5101d1;
}

@media (min-width: 500px) {
	.navigation-item {
		margin: 0 1rem;
		display: flex;
		height: 100%;
		width: auto;
		align-items: center;
	}

	.navigation-item a {
		text-decoration: none;
		color: white;
		padding: 0.25rem 0.5rem;
		border: none;
		font: inherit;
		background: transparent;
		cursor: pointer;
		vertical-align: middle;
		margin: 0;
	}

	.navigation-item a:hover,
	.navigation-item a:active,
	.navigation-item a.active {
		background: #ffffff;
		color: #5101d1;
		border-radius: 0.3125rem;
	}
}
