.drawer__toggle {
	width: 2.5rem;
	height: 80%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding: 0.625rem 0;
	box-sizing: border-box;
	cursor: pointer;
}

.drawer__toggle div {
	width: 90%;
	height: 3px;
	background-color: #dfcefc;
}

@media (min-width: 500px) {
	.drawer__toggle {
		display: none;
	}
}
