.toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3.5rem;
	background: #5101d1;
	box-sizing: border-box;
}

.toolbar nav {
	margin-left: 1.5rem;
}

/* .toolbar__logo {
	height: 80%;
} */

@media (max-width: 499px) {
	.desktop-only {
		display: none;
	}
}
